.hero-section {
  background-image: url('src/assets/BG.jpg');
  background-color: rgb(191, 244, 244);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10vh;
}

.shop-buttons {
  display: flex;
  flex-direction: row;
}

.shop-button {
  background-color: #fff;
  margin: 1rem;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
}

.shop-button:hover {
  opacity: 0.8;
}
