$primary: black;
$primary-hover: rgba(0, 0, 0, 0.808);
$primary-outline-hover: rgba(247, 240, 240, 0.808);

@import url(https://db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=SuisseIntl-Regular);
@import 'bootstrap/scss/bootstrap.scss';

body {
    font-family: "SuisseIntl-Regular";
}

.btn-primary {
    border-radius: 0% !important;
}

.btn-primary:hover {
    background-color: $primary-hover;
}

.btn-outline-primary {
    border-radius: 0% !important;
}

.btn-outline-primary:hover {
    background-color: $primary-outline-hover;
    color: black;
}